<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Docentes</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script> 
<!-- 
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
-->

<link
	href="//bootswatch.com/4/flatly/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
<p></p>
	<h1 align="center">Listado de Docentes</h1>
	<hr/>
	<p></p>
<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a th:href="@{/docente/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Agregar Docente
					</a> <a th:href="@{/docente/irBuscar}" id="add-row" type="button"
						class="btn btn-success btn-md left-block"> <span
						class="glyphicon glyphicon-search"></span> Buscar Docente
					</a>
					
					<p></p>					
					
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr class="table-primary">
								<th class="text-center">CÓDIGO</th>
								<th class="text-center">NOMBRE</th>
								<th class="text-center">APELLIDO</th>
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>
				

							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listaDocentes}">
							<td><a class="btn btn-primary btn-xs"
										th:href="@{/docente/ver/} + ${p.idDocente}"
										th:text="${p.idDocente}"></a></td>
								
								<td th:text="${p.nombreDocente}"></td>
								<td th:text="${p.apellidoDocente}"></td>
								
								
								<td><a th:href="@{/docente/eliminar?id=}+${p.idDocente}">Eliminar</a></td>
								<td><a th:href="@{'/docente/modificar/' + ${p.idDocente}}">Modificar</a></td>
							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>